{
  "components": {
    "schemas": {
      "Agent": {
        "properties": {
          "agent_id": {
            "description": "uint256 as decimal string",
            "example": "42",
            "type": "string"
          },
          "agent_uri": {
            "nullable": true,
            "type": "string"
          },
          "agent_wallet": {
            "description": "0x-prefixed; cleared on ownership Transfer (spec gotcha)",
            "nullable": true,
            "type": "string"
          },
          "chain": {
            "example": "base",
            "type": "string"
          },
          "chain_id": {
            "example": 8453,
            "format": "int64",
            "type": "integer"
          },
          "owner": {
            "description": "0x-prefixed 20-byte hex",
            "type": "string"
          },
          "registered_at": {
            "format": "date-time",
            "type": "string"
          },
          "updated_at": {
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "chain",
          "chain_id",
          "agent_id",
          "owner",
          "registered_at",
          "updated_at"
        ],
        "type": "object"
      },
      "AgentDetail": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Agent"
          },
          "source": {
            "type": "string"
          },
          "staleness_ms": {
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "data",
          "staleness_ms",
          "source"
        ],
        "type": "object"
      },
      "AgentList": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/Agent"
            },
            "type": "array"
          },
          "next_cursor": {
            "description": "Opaque; pass verbatim as ?cursor= to page",
            "nullable": true,
            "type": "string"
          },
          "source": {
            "enum": [
              "db",
              "cache",
              "rpc"
            ],
            "type": "string"
          },
          "staleness_ms": {
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "data",
          "staleness_ms",
          "source"
        ],
        "type": "object"
      },
      "ChainHealth": {
        "properties": {
          "agents_indexed": {
            "format": "int64",
            "type": "integer"
          },
          "chain_id": {
            "format": "int64",
            "type": "integer"
          },
          "is_testnet": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "chain_id",
          "name",
          "is_testnet",
          "agents_indexed"
        ],
        "type": "object"
      },
      "Error": {
        "properties": {
          "error": {
            "properties": {
              "code": {
                "example": "AGENT_NOT_FOUND",
                "type": "string"
              },
              "evaluator": {
                "example": "api.lookup",
                "type": "string"
              },
              "override_hint": {
                "nullable": true,
                "type": "string"
              },
              "policy_version": {
                "example": "v1",
                "type": "string"
              }
            },
            "required": [
              "code",
              "policy_version",
              "evaluator"
            ],
            "type": "object"
          }
        },
        "required": [
          "error"
        ],
        "type": "object"
      },
      "Health": {
        "properties": {
          "agents_indexed": {
            "format": "int64",
            "type": "integer"
          },
          "chains": {
            "items": {
              "$ref": "#/components/schemas/ChainHealth"
            },
            "type": "array"
          },
          "status": {
            "enum": [
              "ok"
            ],
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "version",
          "agents_indexed",
          "chains"
        ],
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Self-maintaining runtime for ERC-8004 trustless agents.",
    "license": {
      "name": "MIT"
    },
    "title": "eth-tools API",
    "version": "0.0.1"
  },
  "openapi": "3.0.0",
  "paths": {
    "/api/v1/agents": {
      "get": {
        "parameters": [
          {
            "description": "Filter by chain name (e.g. 'base') or chain_id (e.g. '8453')",
            "in": "query",
            "name": "chain",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 50,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Opaque keyset cursor from a prior response's next_cursor",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentList"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "invalid cursor or query"
          }
        },
        "summary": "List indexed agents (keyset-paginated)"
      }
    },
    "/api/v1/agents/{chain}/{agent_id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "chain",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "uint256 as decimal string",
            "in": "path",
            "name": "agent_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentDetail"
                }
              }
            },
            "description": "ok"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "agent or chain not found"
          }
        },
        "summary": "Get a single agent by chain and id"
      }
    },
    "/api/v1/health": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            },
            "description": "ok"
          }
        },
        "summary": "Service health, chain registry, indexed agent count"
      }
    }
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://eth-tools.dev"
    },
    {
      "description": "Preview",
      "url": "https://preview.eth-tools.dev"
    },
    {
      "description": "Local dev",
      "url": "http://localhost:3000"
    }
  ]
}
